@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto;
  background-color: #f7d7ad;
  padding: 0.5rem 3rem;
}

button {
  font-size: 1em;
  margin-top: 0.8em;
  background-color: #587ef4;
  border: none;
  outline: none;
  color: #fff;
  padding: 0.6em 1.2em;
  border-radius: 0.3em;
  cursor: pointer;
}

.currency-selector select {
  border: none;
  border-radius: 0.3rem;
  outline: none;
  padding: 0.3rem 1rem;
}

.container {
  margin: 1rem 0;
  padding: 0.5rem;
}

h2 {
  margin: 0.5rem 0;
}

.budget input {
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: none;
}

.budget-goals,
.savings-goals,
.income-tracker,
.Expenses {
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem;
}
.budget-goals h3,
.savings-goals h3,
.income-tracker h3,
.Expenses_header h3 {
  margin: 0.7rem 0;
}
.budget-goals form,
.savings-goals form,
.income-tracker form,
.Expenses form {
  margin: 0 0 1.5rem;
}
.budget-goals form select,
.income-tracker form select,
.Expenses form select {
  border-radius: 0.3rem;
  outline: none;
  padding: 0.3rem;
  margin: 0 0 0.4rem 0;
}
.budget-goals form input,
.savings-goals form input,
.income-tracker form input,
.Expenses form input {
  min-width: 100%;
  padding: 0.3rem;
  outline: none;
  border-bottom: 1px solid #111;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: 0 0 0.7rem 0;
}
ul li {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
}
.budget-goals h2 .visualizations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}
.goal-item p {
  margin-bottom: 0.5rem;
}

.Planner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.7rem;
}

.Expenses_input .error {
  color: #ff0000;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}

.filters {
  margin: 0.3rem;
}
.filters .searches {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0.7rem 0;
}
.searches select,
input {
  border-radius: 0.3rem;
  outline: none;
  padding: 0.3rem;
  margin: 0 0 0.4rem 0;
  border: 1px solid #111;
}
.search {
  min-width: 80%;
}
.drop-down_search select {
  border-radius: 0.3rem;
  outline: none;
  padding: 0.3rem;
  border: 1px solid #111;
}

.summary {
  background-color: #fff;
  border-radius: 0.3rem;
}
.summary_sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.3rem;
}

.Expense_list {
  background-color: #fff;
  border-radius: 0.3rem;
  margin: 0 0 3rem;
}
.Expense_list h2 {
  margin: 0 0 1.7rem 0;
}
.expenses-list ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expense_item-product_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.expense_item-product_btn .edit {
  margin: 0 0.5rem 0 0;
}

.visualizations {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.chart-container {
  background: white;
  padding: 2rem;
  border-radius: 0.3rem;
  box-shadow: 0 2px 4px #0000001a;
  margin: 0 0 1rem 0;
  width: 100%;
}

.export-data {
  text-align: end;
}
.export-data h2 {
  font-size: 1rem;
}
.csv {
  margin: 0 0.5rem 0 0;
}

@media screen and (min-width: 600px) {
  body {
    padding: 0.5rem 6rem;
  }
  ul li {
    grid-template-columns: 1fr 1fr;
  }
  .Planner {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .visualizations {
    grid-template-columns: 1fr 1fr;
  }
  .chart-container {
    min-width: 100%;
  }
}
